## Tuplas en Python

Una tupla es una secuencia de elementos que puede almacenar datos heterogeneos tales como: float, strings, listas y diccionarios. Como los strings, las tuplas son inmutables.

In [1]:
#Así se crea una tupla vacía
tupl = ()

Para crear una tupla, se almacenan los valores separados por comas:

In [2]:
tup = (1, 2, 3, 4.6, 'hola', 'a')

Si se define una variable así, también se creará una tupla:

In [3]:
a = 1, 2, 3
a

(1, 2, 3)

In [4]:
type(a)

tuple

## Indexamiento de tuplas con subscript

Para acceder a un valor particular de una tupla se especifica su posición con corchetes ```[]```:

In [2]:
avengers = ("Ironman", "Spiderman", "Ant-man", "Hulk", "Thor", "The Wasp")

In [3]:
avengers[0]

'Ironman'

In [16]:
avengers[-1]

'The Wasp'

Obtener una parte de la tupla:

In [17]:
avengers[1:3]

('Spiderman', 'Ant-man')

In [8]:
avengers[::-1]

('The Wasp', 'Thor', 'Hulk', 'Ant-man', 'Spiderman', 'Ironman')

Si se intenta indexar por fuera de la tupla, se retorna una tupla vacía:

In [9]:
avengers[len(avengers):len(avengers)+1]

()

Una forma rápida de desempacar y asignar variables de una tupla es la siguiente:

In [4]:
tup1 = (1, 2, 3)
a, b, c = tup1
print('a:', a, 'b:', b, 'c:', c)

a: 1 b: 2 c: 3

Si se intentan obtener más valores de los que tiene la tupla se obtendrá el error: ```ValueError```

In [6]:
tup1 = (5,6)
#a,b,c = tup1 #ValueError!

## Funciones de Tuplas

Longitud de la tupla:

In [8]:
tup = (1,2,3,4)
len(tup)

4

Máximo y mínimo de una tupla

In [9]:
t = (4,5,-1,6,7)

In [20]:
max(t)

7

In [10]:
min(t)

-1

In [12]:
t = (4,-1,4.0,-2)

In [32]:
max(t)

4

In [13]:
t = (4.0,-1,4,-2)
max(t)

4.0

In [24]:
tup1 = ('alice', 'bob', 'zorg')
max(tup1)

'zorg'

In [35]:
min(tup1)

'alice'

Convertir de string a tupla

In [18]:
magician = 'Dumbledore'
tm = tuple(magician) 
print(tm)

('D', 'u', 'm', 'b', 'l', 'e', 'd', 'o', 'r', 'e')

```del``` se puede utilizar para eliminar una tupla:

In [19]:
del(tm)
#tm

Operaciones sobre tuplas

In [21]:
tup1 = ('A', 'B', 'C', 'E')
tup2 = (1,2,3,4,5)

In [22]:
tup3 = tup1 + tup2
print(tup3)

('A', 'B', 'C', 'E', 1, 2, 3, 4, 5)

In [24]:
tup3 = tup2*3
print(tup3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [26]:
tup4 = ('Abc', 'Bcd')
tup5 = tup4*2

In [27]:
print(tup5)

('Abc', 'Bcd', 'Abc', 'Bcd')

In [39]:
print(id(tup5[0]), id(tup5[2]))

2046958934704 2046958934704

In [29]:
tup5[0] is tup5[2] #evalua si dos objetos son iguales

True

Es posible crear tuplas anidadas:

In [49]:
tuple1 = (0, 1, 2, 3) 
tuple2 = ('A', 'B', 'C') 
tuple3 = (tuple1, tuple2) 
print(tuple3) 
print(tuple3[0])
print(tuple3[1][0])

((0, 1, 2, 3), ('A', 'B', 'C'))
(0, 1, 2, 3)
A

Hacer swap de variables sin una variable auxiliar es posible con tuplas:

In [34]:
a = 1
b = 3
a, b = b, a
print('a=', a)
print('b=', b)

a= 3
b= 1

## La función ```map(function, tuple|list)```

Ejecuta una función para cada uno de los valores de una tupla o una lista. Un truco muy usado es leer todos los valores de una tupla en una sola línea:

In [54]:
t = tuple(map(int, input().split(' ')))
print(t) #digite por ejemplo 1 2 3

1 2 3 4
(1, 2, 3, 4)

## Ejercicio 1

Obtener por código el elemento 20 de la siguiente tupla:

In [1]:
aTuple = ("Naranjita", [10, 20, 30], (5, 15, 25))

## Ejercicio 2

Dados dos números enteros construya una función que retorne al mismo tiempo el cociente y el residuo de la división utilizando tuplas:

<table>
    <tr>
    <td>input</td><td>output</td>
    <tr>
    <tr>
    <td>10<br>3</td><td>cociente: 3<br>residuo: 1</td>
    <tr>
<table>

## Ejercicio 3 - Distancia entre dos puntos

Utilizando tuplas elabore una función que retorne la distancia entre dos puntos $p$ y $q$ definidos en un espacio de 3 dimensiones:

La distancia corresponde a aplicar: $d = \sqrt{(x_2-x_1)^2 + (y_2-y_1)^2 + (z_2-z_1)^2}$ 


![](images/3dpoints.gif)

### Entrada
La entrada corresponde a los valores de cada una de las coordenadas x, y, z de cada punto:

### Salida
Un único valor correspondiente a la distancia entre los dos puntos.

<table>
    <tr>
        <td>Input</td><td>output</td>
    </tr>
    <tr>
        <td>0 1 1<br>-1 -1 4</td><td>3.7416573867739413</td>
    </tr>
    
Para una mayor referencia puede consultar [distancias en el espacio](https://www.vadenumeros.es/segundo/distancias-en-el-espacio.htm)

# Referencias:

https://www.geeksforgeeks.org/tuples-in-python/

Das, B. N. (2017). Learn Python in 7 Days. Packt Publishing Ltd.

[https://www.wolframalpha.com](https://www.wolframalpha.com/input/?i=distance+between+two+points&assumption=%7B%22MC%22%2C+%22%22%7D+-%3E+%7B%22Calculator%22%7D&assumption=%7B%22F%22%2C+%22DistanceCalculator%22%2C+%22point1%22%7D+-%3E%22%7B0%2C+1%2C+1%7D%22&assumption=%7B%22F%22%2C+%22DistanceCalculator%22%2C+%22point2%22%7D+-%3E%22%7B-1%2C+-1%2C+4%7D%22)

https://www.vadenumeros.es/segundo/distancias-en-el-espacio.htm

Rodríguez, A (2020). Curso de Programación en Python. https://github.com/arleserp/cursopython